:host {
    border-radius: 4px;
    border: 1px solid #eeeeee;
    background-color: #fafafa;
    margin: 0 0 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
    background-color: #eee;
 

    li {
        font-size: 15px;
    }
   span,ol, strong, div{
   margin:   5px;
    width: 20%;
   }
   ol{
    padding: 10px;
    width: 40%;

   }
 
     

}

li {
    list-style: none;
}

:host:hover {
    border-radius: 20px;
    background-color: #ff000033;


}


@media screen and (max-width: 767px) {
    :host {

        flex-direction: column;
    }

    ol,
    strong,
    span,
    div {
        display: flex;
        justify-content: center;
        flex-direction: column;
        min-width: 100%;
    }
}