:host {
    border-radius: 4px;
    border: 1px solid #eeeeee;
    background-color: #fafafa;
    margin: 0 0 16px;
    display: flex;
    padding: 10px;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
    background-color: #eee;


    li {
        font-size: 15px;
    }

    button {
        cursor: pointer;
    }

    button:hover {
        background-color: rgb(246, 157, 157);

        transition: all 0.2s ease-in-out;
    }

    span,
    ol,
    strong,
    div {
        padding: 5px;
        hyphens: auto;
        width: 20%;
    }

    ol {
        padding: 10px;
        width: 40%;

    }



}

li {
    list-style: none;
}

:host:hover {
    border-radius: 20px;
    background-color: rgba(236, 206, 206, 0.2);


}


@media screen and (max-width: 960px) {
    :host {
        flex-direction: column;
        hyphens: auto;
        text-align: center;     }

    ol,
    strong,
    span,
    div {
        display: flex;
        justify-content: center;
        flex-direction: column;
        min-width: 100%;
    }
    div,ol {
        text-align: start; 

    }

    ol{
        order: 2;
        
    }
    div{
        order:3
        
    }
    span{
        order: 1;
    }
    strong{order: 0;
    
    
    }
}