<div class="container">
     
    <main>
 
        <section>
            <article>
                <h2>About me</h2>
                <p class="card"> {{candidate.intro}}</p>
            </article>
            <article>
                <h2>Skills</h2>
                <app-skills [skills]="skills"></app-skills>
            </article>
        </section>
        <section>
            <h2>Experience</h2>
            <article *ngFor="let exp of expirience">
                <app-expirience-card [project]="exp"> </app-expirience-card>
            </article>
        </section>
        <section >
            <h2>Education</h2>
            <p><strong>Self-taugh, hands-on experience</strong></p>
            <p>-Google</p>
            <p>-Stack Overflow</p>
        </section>
        <section>
            <h2>Additional</h2>
            <p class="additional">{{candidate.additional}}</p>
        </section>


    </main>
</div>
 