.header,footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
    
}

.header .menubutton:hover {
    cursor: pointer;
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}
a:hover {
    color: #125699;
  }
  
a,
a:visited,
a:hover {
  color: #1976d2;
  text-decoration: none;
}

 

.menubutton {
    all: unset;
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
}

 