 :host {
   display: block;
   position: relative;

   max-width: 960px;
   width: 80%;
   padding: 40px;
   margin: auto;
   background: #FFFFFF;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 }

 .container {
   position: relative;
   display: flex;
   width: 100%;

 }




 aside {
   position: relative;
     max-width: 40%;
 }

 app-contacts {
   position: sticky;
   top: 20%;
    background-color: #f1f1f1;
 }



 main {
   position: relative;
   display: flex;
   flex-direction: column;
    min-width: calc(60% - 30px);
   margin-left: 30px;
  }

 .summary {
   margin-top: 30px;
   line-height: 24px;

 }

 ol {
   all: unset;
   position: relative;
   display: block;
  }

 li.summary {
   list-style-type: none;
    display: flex;
   padding-inline-start: 40px;
 }

 .card:hover {

   transform: translateY(-3px);
   box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
 }



 .card {
   all: unset;
   border-radius: 4px;
   border: 1px solid #eee;
   background-color: #fafafa;
   padding: 16px;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   transition: all 0.2s ease-in-out;
   line-height: 24px;
  }


 app-skills {
   font-size: 16px;
   line-height: 1.5;
   margin-bottom: 2rem;
   display: flex;
   margin-top: 30px;
 }

 p {
   font-size: 16px;
 }


 h1 {
   font-size: 1.8em;
   margin: 0;
 }


 h2 {
   font-size: 16px;
   margin-top: 30px;
   margin-bottom: 10px;
 }

 @media screen and (max-width: 960px) {
  .card {
    text-align: center;  
  
  }
 }

 @media screen and (max-width: 767px) {


.card {
  text-align: center;  

}
   .container {

     flex-direction: column;
   }

   main,
   aside {
     position: relative;
     margin: auto;
     width: 90%;

   }
   aside{
    max-width: 100%;
   }
   app-contacts {
     position: relative;

   }
 }

 @media screen and (max-width: 640px) {



   ol {
     padding: 0;
     min-width: 90%;

   }



 }