 .container {
   position: relative;
   display: flex;
   font-family: Arial, sans-serif;
   width: 960px;
   padding: 40px;
   margin: 30px auto;
   background: #FFFFFF;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 }



 footer {
   position: relative;
   bottom: 10px;
   display: block;
   width: 960px;
   padding: 40px;
   margin: auto;
   background: #fafafa;

 }

 app-contacts {
   position: sticky;
   top: 20%;
   white-space: nowrap;
   background-color: #f1f1f1;
 }

 aside {
   position: relative;
 }

 main {
   position: relative;
   max-width: 80%;
   margin-left: 10%;

 }

 .summary {
   font-size: 1rem;
   margin-top: 30px;
   line-height: 1.5;
   margin-bottom: 2rem;
 }

 li.summary {
   list-style-type: none;
   display: block;
   list-style-type: decimal;
   margin-block-start: 1em;
   margin-block-end: 1em;
   margin-inline-start: 0px;
   margin-inline-end: 0px;
   padding-inline-start: 40px;
 }

 .card:hover {

   transform: translateY(-3px);
   box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
 }



 .card {
   all: unset;
   border-radius: 4px;
   border: 1px solid #eee;
   background-color: #fafafa;
   margin: 0 8px 16px;
   padding: 16px;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   transition: all 0.2s ease-in-out;
   line-height: 24px;
 }


 app-skills {
   font-size: 16px;
   line-height: 1.5;
   margin-bottom: 2rem;
   display: flex;
   margin-top: 30px;
 }

 p {
   font-size: 16px;
 }


 h1 {
   font-size: 1.8em;
   margin: 0;
 }

 h2 {
   font-size: 16px;
   margin-top: 30px;
   margin-bottom: 10px;
 }

 @media screen and (max-width: 767px) {



   .container,
   footer {
     max-width: 80%;
     flex-direction: column;
   }

   main,
   aside {
     position: relative;
     margin: auto;
     width: 90%;

   }

   app-contacts {
     position: relative;

   }
 }

 @media screen and (max-width: 640px) {



   ol {
     padding: 0;
     min-width: 90%;

   }



 }