 <mat-chip-listbox>
 
        <mat-chip-option   *ngFor="let skill of skills"color="warn"  #chip (click)="chip.selected =optionSelected(skill)">
            {{skill.name}}
        </mat-chip-option>
 </mat-chip-listbox>
<div class="skill-details-container" *ngIf="selectedSkill  else standart">
    <span [ngStyle]="{'color': selectedSkill.level=='Entry-level'?'red':
    (selectedSkill.level=='Advanced'?'green':'orange')}">
        Level: {{selectedSkill.level}}
    </span>
    <div> {{selectedSkill.description}}</div>
</div>
<ng-template #standart>
    <div class="standart">
        Click on skill to see more</div>
</ng-template>