.skill-details-container {
    display: flex;
    flex-wrap: wrap;
    width: 40%;
  }
  mat-chip-listbox {
    width: 60%;
    max-height: fit-content;
  }
 
  
  .standart {
    display: flex;
    justify-content: center;
   align-items: center;
   margin: auto;
   color: red;
   }
  